<nav class="navbar navbar-expand-lg fixed-top mynav pb-0 pt-0">
  <div class="container-fluid">
    <a class="navbar-brand align-self-baseline" href="#"><i class="fa-solid fa-bars me-3"></i>{{"Title" |
      translate}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-dark">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle content-hover" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{"projects" | translate}}
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let project of projectList" (click)="setProject(project)" (keyup.enter)="setProject(project)"
              tabindex="0">
              <a class="dropdown-item">{{ project.projectName }}</a>
            </li>
          </ul>
        </li>
        <!-- Create issue button -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">
            <button class="btn bg-primary p-0 px-1 text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
              {{"crtbtn"|translate}}
            </button></a>
        </li>
        <!-- Input field to search tickets based on project name  -->
        <div class="row">
          <div class="col-md-12 text-center">
            <form class="form m-1">
              <div class="custom-dropdown">
                <input class="form-control icon" placeholder="{{'searchph' | translate}}" name="searchInput"
                  [(ngModel)]="searchInput" (input)="filterTickets()" autocomplete="off" />
                <div class="dropdown-options" *ngIf="searchInput.trim().length > 0">
                  <div *ngFor="let ticket of ticketsArray" class="option">
                    {{ ticket.projectName }}
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>



        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle content-hover" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Reports
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" (click)="sprintReports()">Sprint Report</a>
            </li>
          </ul>
        </li>
      </ul>
      <!--section to select different languages -->
      <select class="form-select lang-select" (change)="changeLang($event)" name="" id="">
        <option [selected]="lang === 'en'" value="en">English</option>
        <option [selected]="lang === 'fr'" value="fr">French</option>
        <option [selected]="lang === 'es'" value="es">Spanish</option>
      </select>
      <div class="user-name">{{fullName}}</div>
    </div>
  </div>
</nav>

<div class="container-fluid pt-5">
  <router-outlet></router-outlet>
</div>
<!-- Create ticket Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" [attr.aria-labelledby]="'createAriaLabel' | translate"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header d-flex">
        <div>
          <h1 class="modal-title fs-5" id="{{'createModalLabel'|translate}}">{{"createissue"|translate}}</h1>
        </div>
        <div>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            [attr.aria-label]="'close' | translate"></button>
        </div>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <div class="project-model">
                <label for="projectName">{{"project"|translate}} <span class="text-danger">*</span></label>
                <select name="projectName" id="projectName" class="form-select mb-3"
                  [(ngModel)]="ticketObj.projectName">
                  <option *ngFor="let project of projectList" [value]="project.projectName">
                    {{ project.projectName }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <hr />

          <div class="row">
            <div class="col-4">
              <label for="sta">{{"status"|translate}} <span><i class="fa fa-circle-info"></i></span></label>
              <select name="status" id="sta" class="mb-1 form-select" [(ngModel)]="ticketObj.status"
                [value]="ticketObj.status">
                <option *ngFor="let sta of status">{{ sta }}</option>
              </select>
            </div>
            <div class="col-8 mb-3">
              <label for="summary">{{"summary"|translate}} <span class="text-danger">*</span></label>
              <input type="text" id="summary" [(ngModel)]="ticketObj.summary" name="summary"
                class="form-control border inputbg border-2" />
            </div>
            <div class="col-12 mb-3">
              <label for="Ticket Type">{{"tickettype"|translate}}<span class="text-danger">*</span></label>
              <select name="Ticket Type" class="mb-1 form-select" id="Ticket Type" [(ngModel)]="ticketObj.ticketType">
                <option>{{"story"|translate}}</option>
                <option>{{"defect"|translate}}</option>
              </select>
            </div>
            <div class="col-4 mb-3">
              <label for="story points">Story Points</label>
              <select name="story points" class="mb-1 form-select" id="story points" [(ngModel)]="ticketObj.storyPoints"
                [value]="ticketObj.storyPoints">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="col-4 mb-3">
              <label for="sprint report">Sprint Report</label>
              <select name="sprint report" id="sprint report" class="mb-1 form-select"
                [(ngModel)]="ticketObj.sprintReport" [value]="ticketObj.sprintReport">
                <option *ngFor="let sprint of sprints">{{sprint.name}} - {{sprint.Date}}</option>
              </select>
            </div>
            <div class="col-4 mb-3">
              <label for="priority">Priority</label>
              <select name="priority" class="mb-1 form-select" id="priority" [(ngModel)]="ticketObj.priority"
                [value]="ticketObj.priority">
                <option>High</option>
                <option>Medium</option>
                <option>None</option>
              </select>
            </div>
            <div class="col-6 mb-3">
              <label for="fname">{{"assignee"|translate}}</label>
              <select name="assignedTo" class="mb-1 form-select" id="fname" [(ngModel)]="ticketObj.assignedTo">
                <option *ngFor="let user of userList">
                  {{ user.fullName }}
                </option>
              </select>
            </div>
            <div class="col-6 mb-3">
              <label for="fullname">{{"reporter"|translate}}</label>
              <select name="createdBy" [(ngModel)]="ticketObj.createdBy" id="fullname" class="mb-1 form-select">
                <option *ngFor="let user of userList">
                  {{ user.fullName }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="modal-footer-container">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">
            {{"cancel"|translate}}
          </button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onTicketCreate()">
            {{"crtbtn"|translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>