<div class="row pt-3">
  <div class="col-12 text-center">
    <h2>All Tickets</h2>
  </div>
</div>



<!-- <div class="row">
  <div class="col-md-12 text-center" style="height: 120px; display: flex; justify-content: center;">
    <div class="col-md-12">
      <form class="form mt-5">
        <input type="text" class="form-control" list="datalistOptions" id="exampleDataList"
          placeholder="Type to search..." name="searchInput" [(ngModel)]="searchInput" (input)="filterTickets()">
          <datalist id="datalistOptions" class="dropdown-options">
          <option *ngFor="let ticket of ticketsArray; trackBy: trackByFn" class="option">{{ ticket.projectName }}</option>
        </datalist>
      </form>
    </div>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-md-12 text-center">
    <form class="form m-1">
      <div
        class="custom-dropdown"
        style="position: relative; width: 400px"
      >
        <input
          class="form-control icon"
          placeholder="Type to search..."
          name="searchInput"
          [(ngModel)]="searchInput"
          (input)="filterTickets()"
        />
        <div class="dropdown-options" *ngIf="searchInput.length > 0">
          <div *ngFor="let ticket of ticketsArray" class="option">
            {{ ticket.projectName }}
          </div>
        </div>
      </div>
    </form>
  </div>
</div> -->





<div class="kanban" cdkDropListGroup>
  <div cdkDropListGroup>
    <div class="example-container" *ngFor="let status of status">
      <h2>{{ status }} ({{getTasksByStatus(status).length}})</h2>
      <div cdkDropList [cdkDropListData]="getTasksByStatus(status)" class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of getTasksByStatus(status)" cdkDrag>
          <div class="centered-container">
            <div>
              <h6>{{ item.summary }}</h6>
              <span class="project-name text-center">{{item.projectName}} Project</span>
            </div>
            <div style="display: flex;">
              <div *ngIf="item.ticketType === 'Story'; else elseBlock">
                <mat-icon class="bookmark-icon">bookmark</mat-icon>
              </div>
              <ng-template #elseBlock>
                <mat-icon class="text-danger">report</mat-icon>
              </ng-template>
              <mat-icon (click)="editTicket(item)" class="edit-icon">edit</mat-icon>
              <mat-icon (click)="deleteTicket(item)" class="text-danger" style="cursor: pointer;">delete</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>